<template>
  <div id="app">
    <img alt="Vue logo" src="../assets/unclesam.png">
    <h1 class="headings"> Are you dumb {{ playerName }} ?</h1>
    <div v-if="!questions.length">
      <quiz-question 
        v-bind:question="'Loading....'"        
      />
    </div>
    <div v-if="questions.length && counter<questions.length">
      <quiz-question 
        v-bind:question="htmlParser(questions[counter].question)"
        v-bind:alternatives="parseArray(questions[counter].alternativesArray)"
        v-bind:category="htmlParser(questions[counter].category)"
        v-bind:difficulty="htmlParser(questions[counter].difficulty)"
        v-bind:lastQuestion="lastQuestionUpdate()"
        v-on:answer-selected="registerAnswer"
      />
    </div>
  </div>
</template>

<script>

import QuizQuestion from '../components/QuizQuestion.vue';
import Question from '../scripts/Question.js';

const axios = require('axios').default;

export default {
  data() {
    return {
      counter: 0,
      answers: [],
      questions: [],
      lastQuestion: false        
    };
  },
  created() {
    axios
    .get('https://opentdb.com/api.php?amount=10')
    // Success handling:
    .then( response => {
      response.data.results.forEach( item => {
        const question = new Question(item);
        this.questions.push(question);
      });
    })
    // Error handling:
    .catch( error => {
      alert(error);
    })
    .then(function () {
    });
    this.$emit('question-array', this.questions);
  },
  name: 'GamePlay',
  props: {
    playerName: String
  },
  components: {
    "quiz-question": QuizQuestion
  },
  methods: {
    /* Parse text into proper format */
    htmlParser(someText) {
      const domParser = new DOMParser();
      const doc = domParser.parseFromString(someText, 'text/html');
      return doc.documentElement.textContent;
    },
    /* function parsing all elements of an array through the htmlParser() */
    parseArray(array) {
      array.forEach( (item, index) => {
        array[index] = this.htmlParser(item);
      });
      return array;
    },
    /** Store selected answer in array.
     *  Emits array when all questions are answered,
     *  and destroys GamePlay component at the same time */
    registerAnswer(alternative) {      
      this.incrementCounter();
      this.answers.push(alternative);
      if(this.answers.length === this.questions.length){
        this.sendAnswerArray();
      }
    },
    /** Counter used for  */
    incrementCounter() {
      this.counter++;
    },
    sendAnswerArray() {
      this.$emit('answer-array', this.answers);
    },
    lastQuestionUpdate() {
      if(this.counter === this.questions.length-1) {
        this.lastQuestion = true;
      }
      return this.lastQuestion;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>