#app {
  /* Full height */
  height: 115%;  
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #502c3a;
  background-color: black;
    
  /* Center and scale the image nicely */
  background: url(https://i.pinimg.com/originals/02/c8/0f/02c80ff4e512fdee68d3cb495e1f6660.jpg) repeat center center fixed;
  background-size: cover;
}
html, body {
  height: 100%;
  background-color: black;
  text-align: center;
}
.headings{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  color: whitesmoke;
}
.box-heading{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  color: black 
}
#category {
  color: grey
}
#game-menu {
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0 0 30px rgb(148, 145, 145);
  border: 30px solid rgb(49, 1, 1);
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#result-menu {
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0 0 30px rgb(148, 145, 145);
  border: 30px solid rgb(49, 1, 1);
  top: 40%;
}
#place-difficulty-line {
  position: relative;
  top: 20px;
}
.place-difficulty-level {
  display: inline-block;
}  
#quit-button {
  padding-left: 20%;
  padding-right: 10%;
}
#play-again-button {
  padding-right: 20%;
  padding-left: 10%;
}
#result-heading {
  margin-top: 50px;
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0 0 30px rgb(148, 145, 145);
  border: 30px solid rgb(49, 1, 1);
}
#end-game-buttons {
  border-radius: 100px;
  box-shadow: 0 0 30px rgb(148, 145, 145);
  border: 30px solid rgb(49, 1, 1);
  padding-bottom: 20px;
  padding-top: 20px;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(165, 158, 158);
}