<template>
  <div id="app">
    <div class="w-100 bg-white" id="result-heading">
      <h1 class="box-heading" style="color: red;">Game Over</h1>
      <h2 v-if="playerName.length" class="box-heading">
        {{ playerName }}'s score: {{ score }}
      </h2>
      <h2 v-else class="box-heading">
        unknown's score {{ score }}
      </h2>
    </div>
    <div class="w-100 bg-white" id="result-menu">
      <ul v-if="questions.length && answers">
        <quiz-result 
          v-for="index in questions.length"
          v-bind:key="index"
          v-bind:question="htmlParser(questions[index-1].question)"
          v-bind:difficulty="htmlParser(questions[index-1].difficulty)"
          v-bind:answer="htmlParser(answers[index-1])"
          v-bind:correctAnswer="htmlParser(questions[index-1].correctAnswer)"
        />
      </ul>
      <div v-else> 
        <h4 class="headings" style="color: black">ERROR: Have you actually answered any questions?</h4>
      </div>
    </div>
    <div id="end-game-buttons" class="w-100 bg-white">
      <router-link id="quit-button" to="/">
        <b-button variant="danger">Quit</b-button>
      </router-link>    
      <router-link id="play-again-button" to="/GamePlay">
        <b-button variant="danger">Play again</b-button>
      </router-link>  
    </div>
  </div>
</template>

<script>

import QuizResult from '../components/QuizResult.vue';

export default {
  data() {
    return {
      score: 0,
      counter: -1
    };
  },
  name: 'GameOver',
  props: {
    questions: Array,
    answers: Array,
    playerName: String
  },
  components: {
    "quiz-result": QuizResult
  },
  /** Calculate score total before rendering */
  created() {
    this.questions.forEach((question,index) => {
      let correctAnswer = this.htmlParser(question.correctAnswer);
      correctAnswer = ' ' + correctAnswer + ' ';
      if(correctAnswer === this.answers[index]) {
        this.score += 10;
        question.playerAnswerCorrect = true;
      } else {
        question.playerAnswerCorrect = true;
      }
      question.correctAnswer = correctAnswer;
    });
  },
  methods: {
    /* Parse text into proper format */
    htmlParser(someText) {
      const domParser = new DOMParser();
      const doc = domParser.parseFromString(someText, 'text/html');
      return doc.documentElement.textContent;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>