<template>
  <div>
    <img alt="Vue logo" src="../assets/logo.png">
    <h1 class="headings">Monster Vue.js Trivia Quiz</h1>
    <div class="w-50 bg-white" id="game-menu" style="top: 400px;">
        <h3>Type your name to get started</h3>
        <b-input-group class="mt-1">
            <b-form-input v-model="player.name" type="text" placeholder="Enter your in-game name..."> </b-form-input>
            <router-link to="/GamePlay">
                <b-button variant="danger" v-on:click="emitName(player.name)">Start game</b-button>
            </router-link>
        </b-input-group>
    </div>
  </div>
</template>

<script>
import Name from '../scripts/Name.js'

export default {
  data() {
    return {
      player: {}
    };
  },
  name: 'GameMenu',
  props: {
  },
  created(){
    const name = new Name();
    name.name = ''; 
    this.player = name;
  },
  methods: {
    emitName: function(player) {
      this.$emit('player-name', player);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>