<template>
  <div class="w-50 bg-white" id="game-menu">
    <h4 id="category" class="box-heading">Category: {{ category }} </h4>
    <h3 class="box-heading"> {{question}} </h3>  
    <div class="mt-4"
      v-for="alternative in alternatives"
      v-bind:key="alternative.id"
    >
      <div v-if="lastQuestion===false">
        <b-button variant="success" class="buttons" v-on:click="sendAnswer($event.target)">
          {{ alternative }}
        </b-button>
      </div>
      <div v-else-if="lastQuestion===true">
        <router-link to="/GameOver">
          <b-button variant="success" class="buttons" v-on:click="sendAnswer($event.target)">
            {{ alternative }}
          </b-button>
        </router-link>
      </div>
    </div>
    <h4 id="place-difficulty-line">
      Level: 
      <h4 v-if="difficulty==='hard'" style="color: rgb(200,0,0);" class="place-difficulty-level">
        HARD 
      </h4>
      <h4 v-else-if="difficulty==='medium'" style="color: rgb(150,0,200);" class="place-difficulty-level">
        MEDIUM 
      </h4>
      <h4 v-else-if="difficulty==='easy'" style="color: rgb(0,170,0);" class="place-difficulty-level">
        EASY
      </h4>
      <h4 v-else class="place-difficulty-level">
        unknown
      </h4>        
    </h4>
  </div>
</template>

<script>

export default {
  name: 'QuizQuestion',
  methods: {
    sendAnswer: function(alternative) {
      this.$emit('answer-selected', alternative.innerHTML);
    }
  },
  props: {
    question: String,
    type: String,
    difficulty: String,
    alternatives: Array,
    category: String,
    lastQuestion: Boolean
  },
  components: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
