<template>
  <li>
    <h4 class="box-heading">Question: {{ question }} </h4>
    <div v-if="correctAnswer===answer">  
      <p style="background-color: green;" class="answer"><b>Your answer:</b> {{ answer }}</p>  
    </div>
    <div v-if="correctAnswer!==answer"> 
      <p style="background-color: red;" class="answer"><b>Your answer:</b> {{ answer }}</p>  
    </div>
    <p><b>Correct answer:</b> {{ correctAnswer }}</p>
    <p><em>Difficulty: {{ difficulty }}</em></p>
  </li>
</template>

<script>

export default {
  name: 'QuizResult',
  methods: {
  },
  props: {
    question: String,
    answer: String,
    correctAnswer: String,
    difficulty: String
  },
  components: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .answer {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 10px;
  }
</style>
