<template>
  <div id="app">
    <router-view
      v-bind:playerName="playerName.name"
      v-bind:answerArray="answerObject.answerArray"
      v-bind:questions="questionObject.questionArray"
      v-bind:answers="answerObject.answerArray"

      v-on:player-name="setNameValue"
      v-on:answer-array="registerAnswerArray"
      v-on:question-array="registerQuestionArray"
    ></router-view>
  </div>
</template>

<script>
import Name from './scripts/Name.js'

export default {
  data() {
    return {
      playerName: {},
      answerObject: {},
      questionObject: {}
    }
  },
  created(){
    const name = new Name();
    name.name = ''; 
    this.playerName = name;
  },
  mounted() {

  },  
  name: 'MainApp',
  methods: {
    setNameValue(name) {
      this.playerName.name = name;
    },
    registerAnswerArray(answerArray) {
      this.answerObject.answerArray = answerArray;
    },
    registerQuestionArray(questionArray) {
      this.questionObject.questionArray = questionArray;
    }
  }
}

</script>